interactions:
- request:
    body: '{"query": "\n                        query HumaRequestNetworkPayments {\n                            payments(\n                                first:
      1000,\n                                where: {\n                                    from:
      \"0x8d2aa089af73e788cf7afa1f94bf4cf2cde0db61\",\n\n                                    id_gt:
      \"\"\n                                }\n                                orderBy:
      id,\n                                orderDirection: asc\n                            )
      {\n                                id\n                                contractAddress\n                                tokenAddress\n                                to\n                                from\n                                timestamp\n                                txHash\n                                amount\n                                currency\n                                amountInCrypto\n                            }\n                        }\n                        "}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.thegraph.com/subgraphs/name/requestnetwork/request-payments-mainnet
  response:
    content: '{"data":{"payments":[{"id":"0x006586d6c903e3a1cb82b4d3cadf2ed378479bd70503b24ebee1f331d10ef8a6","contractAddress":"0x370de27fdb7d1ff1e1baa7d11c5820a324cf623c","tokenAddress":"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48","to":"0x4d68e70e1090650555675b1caf316159b9b8f3bc","from":"0x8d2aa089af73e788cf7afa1f94bf4cf2cde0db61","timestamp":1640298427,"txHash":"0xa53c69bc5d4d7760c9a211d4aac0b98acf5e5d8a91aa607d495577b21eb8eeae","amount":"128570000","currency":null,"amountInCrypto":null},{"id":"0x00667ff6766b88f8784aaf748707a2e9c7e6286c4dee0fdd476608e4edb07ee0","contractAddress":"0x370de27fdb7d1ff1e1baa7d11c5820a324cf623c","tokenAddress":"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48","to":"0x63d6287d5b853ccfedba1247fbeb9a40512f709a","from":"0x8d2aa089af73e788cf7afa1f94bf4cf2cde0db61","timestamp":1647541651,"txHash":"0x863ce159f4739e5ee8ed4cb150c6d533637e15926a79c5343071a34225d45991","amount":"6764000000","currency":null,"amountInCrypto":null},{"id":"0x006ca7b9f7b2d4bb54e05e2[...]
