interactions:
- request:
    body: '{"query": "\nquery HumaCurrentStream($sender: String, $receiver: String,
      $token: String) {\n    streams(\n        where: {\n            sender: $sender,\n            receiver:
      $receiver,\n            token: $token\n        }\n        first: 1\n        orderBy:
      updatedAtTimestamp\n        orderDirection: desc\n        currentFlowRate_gt:
      0\n    ) {\n        id\n        currentFlowRate\n        createdAtTimestamp\n        updatedAtTimestamp\n    }\n}\n",
      "variables": {"sender": "0x60758b3a6933192d0ac28fc1f675364bb4dfab1d", "receiver":
      "0xf6c0acd62e69669155f314d6a6e22f5cf63fab4e", "token": "0x42bb40bf79730451b11f6de1cba222f17b87afd7"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.thegraph.com/subgraphs/name/superfluid-finance/protocol-v1-mumbai
  response:
    content: '{"data":{"streams":[{"id":"0x60758b3a6933192d0ac28fc1f675364bb4dfab1d-0xf6c0acd62e69669155f314d6a6e22f5cf63fab4e-0x42bb40bf79730451b11f6de1cba222f17b87afd7-2.0","currentFlowRate":"999975694444444443","createdAtTimestamp":"1685006833","updatedAtTimestamp":"1685596467"}]}}'
    headers:
      Content-Type:
      - application/json
      graph-attestable:
      - 'true'
    status_code: 200
version: 1
