interactions:
- request:
    body: '{"public_token": "public-sandbox-88a2c0a1-48fb-4ca4-89a2-f9205951f43d"}'
    headers:
      Content-Type:
      - application/json
      PLAID-CLIENT-ID:
      - 63fa9cfe02d2d300129a40b4
      PLAID-SECRET:
      - 2665b99ee8e4911287e48b7e78486b
      Plaid-Version:
      - '2020-09-14'
    method: POST
    uri: https://sandbox.plaid.com/item/public_token/exchange
  response:
    body:
      string: "{\n  \"access_token\": \"access-sandbox-c89c0690-b24b-4a9d-97a9-f2ec020ac834\",\n
        \ \"item_id\": \"yLWNNJEAdpIXWdkDKgb9Hxb89R15v7tyvKoML\",\n  \"request_id\":
        \"Qau6YxusuBSdkqu\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      plaid-version:
      - '2020-09-14'
    status:
      code: 200
      message: OK
- request:
    body: '{"access_token": "access-sandbox-c89c0690-b24b-4a9d-97a9-f2ec020ac834",
      "start_date": "1999-03-04", "end_date": "2023-02-26"}'
    headers:
      Content-Type:
      - application/json
      PLAID-CLIENT-ID:
      - 63fa9cfe02d2d300129a40b4
      PLAID-SECRET:
      - 2665b99ee8e4911287e48b7e78486b
      Plaid-Version:
      - '2020-09-14'
    method: POST
    uri: https://sandbox.plaid.com/transactions/get
  response:
    body:
      string: "{\n  \"accounts\": [\n    {\n      \"account_id\": \"elxAAeBb6zTqn4gAEyNGCo7elAa59Bu7yBn1q\",\n
        \     \"balances\": {\n        \"available\": 100,\n        \"current\": 110,\n
        \       \"iso_currency_code\": \"USD\",\n        \"limit\": null,\n        \"unofficial_currency_code\":
        null\n      },\n      \"mask\": \"0000\",\n      \"name\": \"Plaid Checking\",\n
        \     \"official_name\": \"Plaid Gold Standard 0% Interest Checking\",\n      \"subtype\":
        \"checking\",\n      \"type\": \"depository\"\n    },\n    {\n      \"account_id\":
        \"QwGxxPL9zkIDg3MJVdBehyvLNwnxQGI3r6AEq\",\n      \"balances\": {\n        \"available\":
        200,\n        \"current\": 210,\n        \"iso_currency_code\": \"USD\",\n
        \       \"limit\": null,\n        \"unofficial_currency_code\": null\n      },\n
        \     \"mask\": \"1111\",\n      \"name\": \"Plaid Saving\",\n      \"official_name\":
        \"Plaid Silver Standard 0.1% Interest Saving\",\n      \"subtype\": \"sav[...]
[...]
