interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.allowlist.huma.finance/user/testnet/0x41D33Eb68af3efa12d69B68FFCaF1887F9eCfEC0
  response:
    content: '{"wallet_address":"0x41D33Eb68af3efa12d69B68FFCaF1887F9eCfEC0","pool_address":"0xA22D20FB0c9980fb96A9B0B5679C061aeAf5dDE4","user_name":"lei_demo1","created_at":"2022-12-19T16:05:43.600000+00:00","updated_at":null,"status":"found"}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
