interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "net_version", "params": [], "id": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eth-goerli.g.alchemy.com/v2/QCstSL86s-2pjTN_edwBPd_YpCz1Ifzo
  response:
    body:
      string: '{"jsonrpc":"2.0","id":0,"result":"5"}'
    headers:
      Content-Type:
      - application/json
      x-alchemy-trace-id:
      - 5a5ba0c7f91a68be7110d3caaf749867
    status:
      code: 200
      message: OK
    url: https://eth-goerli.g.alchemy.com/v2/QCstSL86s-2pjTN_edwBPd_YpCz1Ifzo
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "eth_call", "params": [{"to": "0xA22D20FB0c9980fb96A9B0B5679C061aeAf5dDE4",
      "data": "0x9695e195"}, "latest"], "id": 2}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eth-goerli.g.alchemy.com/v2/QCstSL86s-2pjTN_edwBPd_YpCz1Ifzo
  response:
    body:
      string: '{"jsonrpc":"2.0","id":2,"result":"0x0000000000000000000000000d7bae0e14af194e52ea2472737b24044fe6e929"}'
    headers:
      Content-Type:
      - application/json
      x-alchemy-trace-id:
      - f78583655bb4a64846f136d12c0d8887
    status:
      code: 200
      message: OK
    url: https://eth-goerli.g.alchemy.com/v2/QCstSL86s-2pjTN_edwBPd_YpCz1Ifzo
[...]
